<div class='content-wrapper'>
  <div class='content-navigation'>
    <p class='lead'>Ember workShop</p>
    <div class='list-group'>
      <a href='#' class='list-group-item'>Category 1</a>
      <a href='#' class='list-group-item active'>Category 2</a>
      <a href='#' class='list-group-item'>Category 3</a>
    </div>
  </div>  <!-- /.content-navigation -->

  <div class='content-main'>
    {{partial 'carousel'}}
    <div class='products'>
    {{#each model as |product|}}
      <div class='product'>
        <div class='thumbnail {{if product.hasDirtyAttributes 'is-dirty'}}'>
          <img src={{product.image}} alt=''>
          <div class='caption'>
            <h4 class='pull-right'>${{product.price}}</h4>
            <h4>{{#link-to 'products.show' product}}{{product.title}}{{/link-to}}</h4>
            <p>{{product.description}}</p>
          </div>
          <div class='ratings'>
            <p class='pull-right'>15 reviews</p>
            <p>
            <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star'></span>
            <span class='glyphicon glyphicon-star'></span>
            </p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>  <!-- /.content-main -->

  <div class='content-detail'>
    {{outlet}}
  </div>
</div>  <!-- /.content-wrapper -->
