{{#unless isEditing}}
  <div class='thumbnail'>
    <img class='img-responsive' src={{model.image}} alt=''>
    <div class='caption-full'>
      <h4 class='pull-right'>${{model.price}}</h4>
      <h4><a href='#'>{{model.title}}</a>
      </h4>
      <p>{{model.description}}</p>
      <button {{action 'toggleEditing'}} type='button' class='edit'>Edit</button>
    </div>
    <div class='ratings'>
      <p class='pull-right'>3 reviews</p>
      <p>
      <span class='glyphicon glyphicon-star'></span>
      <span class='glyphicon glyphicon-star'></span>
      <span class='glyphicon glyphicon-star'></span>
      <span class='glyphicon glyphicon-star'></span>
      <span class='glyphicon glyphicon-star-empty'></span>
      4.0 stars
      </p>
    </div>
  </div>

  <div class='reviews'>
    {{#each model.reviews as |review|}}
      <div class='row'>
        <div class='col-md-12'>
          {{star-rating starCount=review.rating}}
          {{review.user}}
          <span class='pull-right'>{{moment-from-now review.createdAt}}</span>
          <p>{{review.description}}</p>
        </div>
      </div>

      <hr>
    {{/each}}

  </div>  <!-- /.content-detail -->
{{else}}
  <form {{action 'submit' on='submit'}} role='form' class='well'>
    <div class='form-group {{if model.errors.title 'has-error'}}'>
      {{input value=model.title class='form-control' placeholder='Enter a title'}}
      {{#each model.errors.title as |error|}}
          <div class='control-label'>{{error.message}}</div>
      {{/each}}
    </div>
    <div class='form-group'>
      {{textarea value=model.description class='form-control' placeholder='Enter a description'}}
    </div>
    <div class='form-group'>
      {{input value=model.price class='form-control' type='number' placeholder='Enter a price'}}
    </div>
    <div class='form-group'>
      {{#if model.image}}
        <img src={{model.image}}>
        <button {{action 'removeImage'}} type='button' class='remove pull-right'>Remove</button>
      {{else}}
        <img src='http://placehold.it/320x150&text=No image'>
      {{/if}}
      <div class='file'>
        Browse...{{upload-file file=model.image accept='image/*'}}
      </div>
    </div>
    <button type='submit' class='update {{unless model.hasDirtyAttributes 'disabled'}}'>Update</button>
    <button {{action 'toggleEditing'}} type='button' class='cancel'>Cancel</button>
  </form>
{{/unless}}
